@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&family=Poppins:wght@300;600;700&display=swap");
.bold {
  font-family: 'Poppins', Sans-Serif;
  font-weight: 700;
  font-size: 50px;
}

.semi-bold {
  font-family: 'Poppins', Sans-Serif;
  font-weight: 600;
  font-size: 30px;
}

.poppins-light {
  font-family: 'Poppins', Sans-Serif;
  font-weight: 300;
  font-size: 10px;
}

.regular {
  font-family: 'Hind Siliguri', Sans-Serif;
  font-weight: 400;
  font-size: 20px;
}

.hind-siliguri-light {
  font-family: 'Hind Siliguri', Sans-Serif;
  font-weight: 300;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.sub-title {
  font-size: 24px;
}

.sub-desc {
  font-size: 20px;
}

.title {
  font-size: 52px;
  line-height: 63px;
}

body {
  background: #100F21;
  margin: 0;
  color: white;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  padding: 1em;
}

.navbar .logo {
  color: white;
  font-size: 32px;
}

.navbar .logo img {
  padding-right: .5em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  width: 32px;
}

.hero {
  padding: 5em 1em;
}

.hero .mobile-hero-img {
  display: block;
  margin: auto;
  width: 80%;
}

.hero .left-col {
  color: white;
  text-align: center;
}

.hero .left-col h1 {
  font-size: 37px;
  padding: 1em 2em 0em;
  line-height: 40px;
}

.hero .left-col h1 span {
  color: #FFE5AC;
}

.hero .left-col p {
  font-size: 16px;
  color: #CECED5;
  padding: 0em 4em 1em;
  margin-top: -1em;
  line-height: 21px;
}

.hero .hero-cta {
  background-color: #FFE5AC;
  font-size: 14px;
  padding: .7em 0em;
  display: block;
  margin: auto;
  width: 200px;
  color: black;
}

.hero .hero-img {
  display: none;
}

.about {
  padding: 1em;
}

.about h1 {
  font-size: 24px;
  line-height: 28px;
}

.about p {
  font-size: 20px;
  line-height: 26px;
  color: #9E9EAF;
}

.my-services {
  padding: 1em;
}

.my-services ul {
  list-style: none;
  padding: 0;
}

.my-services .card {
  background-color: #141429;
  -webkit-box-shadow: 0px 0px 15px #000000;
          box-shadow: 0px 0px 15px #000000;
  margin-bottom: 2em;
  padding: 4em;
}

.my-services .card .bot-img, .my-services .card .web-img {
  width: 60px;
}

.my-services .card img {
  width: 45px;
}

.my-services .card h1 {
  font-size: 25px;
  margin-top: 2em;
}

.my-services .card p {
  font-size: 20px;
  line-height: 28px;
  color: #9E9EAF;
}

.my-services .card .right-arrow-cta {
  font-size: 16px;
  color: #FFE5AC;
}

.my-services .card .right-arrow-cta img {
  width: 18px;
  padding-left: 1em;
  margin-top: 1em;
}

.latest-work {
  padding: 1em;
}

.latest-work .desktop-view {
  display: none;
}

.latest-work-card {
  margin-bottom: 10em;
}

.latest-work-card .sub-desc {
  font-size: 20px;
  color: #CECED5;
}

.latest-work-card .sub-title {
  font-size: 24px;
  line-height: 33px;
  margin: -10px auto 1.5em;
}

.latest-work-card .latest-img {
  width: 80%;
  -webkit-box-shadow: -30px 30px #546A7B;
          box-shadow: -30px 30px #546A7B;
  display: block;
  margin: 2em 0px 6em 37px;
  padding: auto;
}

.latest-work-card ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-work-card li {
  width: 120px;
  height: 120px;
  border: .5px solid #77758F;
  border-radius: 25px;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-work-card li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 10px;
}

.latest-work-card .icon {
  text-align: center;
  margin-bottom: 5em;
}

.latest-work-card .icon img {
  width: 32px;
}

.latest-work-card .view-more-cta {
  color: black;
  background-color: #FFE5AC;
  padding: 1.5em 3em;
  font-size: 14px;
  margin-bottom: 10em;
}

.why-me {
  padding: 1.5em;
  margin-top: -5em;
}

.why-me .sub-title {
  font-size: 24px;
  line-height: 34px;
}

.why-me .sub-desc {
  font-size: 20px;
  line-height: 25px;
  color: #9E9EAF;
}

.why-me .num-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.why-me .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 1em;
}

.why-me .numbers h1 {
  padding-right: .3em;
  color: #ffcb8f;
}

.why-me .numbers p {
  font-size: 15px;
  line-height: 20px;
}

.reviews {
  padding: 1em;
}

.reviews .container {
  background-color: #141429;
  padding: 5em 2.5em 2em;
  -webkit-box-shadow: 0px 0px 17px #0000004b;
          box-shadow: 0px 0px 17px #0000004b;
}

.reviews .person {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.reviews .quotation {
  margin-top: 3em;
  width: 45px;
}

.reviews p {
  font-size: 28px;
  line-height: 36px;
}

.reviews .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews .author img {
  margin-right: 1em;
}

.reviews .author p {
  font-size: 18px;
  line-height: 23px;
}

.footer {
  background-color: #07020D;
  padding: 3em 1em 6em;
}

.footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .logo img {
  padding-right: 1em;
  width: 60px;
}

.footer ul {
  list-style: none;
  padding-left: 2em;
}

.footer .footer-title {
  font-size: 24px;
}

.footer li {
  font-size: 20px;
  line-height: 56px;
}

.footer a {
  color: #CECED5;
}

.footer span {
  color: white;
  font-size: 22px;
}

.footer .right-footer h1 {
  font-size: 52px;
  line-height: 63px;
  margin-bottom: 0em;
}

.footer .right-footer p {
  font-size: 24px;
  line-height: 33px;
  color: #CECED5;
  margin-bottom: 3em;
}

.footer .right-footer a {
  background-color: #FFE5AC;
  padding: 1em 2em;
  color: black;
  font-size: 24px;
}

.footer .right-footer a img {
  margin-left: 1em;
}
/*# sourceMappingURL=main.css.map */